.m-gallery {
  margin-top: -400px;
  text-align: center;

  img {
    max-width: 100%;
  }

  &__top {

    &--apart {
      color: $pink-1;
      font-size: 14px;
      font-weight: bold;
    }

    &--tibet {
      width: 493px;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 60px;
    }
  }

  .gallerySwiper {
    height: 500px;
    width: 70%;

    .swiper-button-next,
    .swiper-button-prev {
      color: rgba($black, .6);
      font-size: 30px;
    }

    .swiper-button-prev {
      left: 30%;
    }

    .swiper-button-next {
      right: 30%;
    }

    .swiper-pagination {
      position: absolute;
      margin-top: calc(0 - (var(--swiper-navigation-size)));

      &-bullet {
        width: auto;
        height: 30px;
        background: none;
        color: $black;
        opacity: .4;
        text-align: center;
        line-height: 30px;
        font-size: 12px;

        &-active {
          opacity: 1;
        }
      }
    }
  }
}