.mySwiper {
  position: absolute;
  top: -550px;
  right: 0;
  left: 128px;
  display: flex;
  width: 100%;
  height: 660px;
  background-color: $white;
  box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .04);
  @include media-down(m) {
    left: 0;
  }

  .swiper-slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: rgba($black, .6);
    font-size: 30px;
  }

  .swiper-button-prev {
    left: 450px;
    top: 630px;
    font-size: 20px;

    &:hover {
    font-size: 30px;
    }
  }

  .swiper-button-next {
    top: 630px;
    left: 550px;

    &:hover {
      font-size: 40px;
    }
  }

  .swiper-pagination {
    padding-left: 100px;
    top: 600px;
  }

  #fraction {
    position: absolute;
    padding-left: 90px;
    padding-top: 60px;
    font-size: 16px;
    color: rgba($black, .4);
  }

  #fraction1 {
    position: absolute;
    top: 600px;
    left: 490px;
    color: $pink-1;
    font-size: 16px;
    font-weight: bold;
  }
}

.m-hero {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  @include media-down(l) {
    position: absolute;
    left: 0;
    flex-direction: column;
  }

  &__right {
    width: 100%;
    height: auto;
    background-image: url('../../src/images/_images/building-castle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    @include media-down(l) {
      visibility: hidden;
    }
  }

  &__left {
    align-self: flex-start;
    padding-bottom: 90px;
    padding-left: 90px;
    padding-top: 90px;

    &--p1 {
      margin-top: 60px;
      color: $pink-1;
      font-size: 32px;
    }

    &--p2 {
      font-size: 18px;
    }

    h1 {
      width: 361px;
      margin-top: 100px;
      margin-right: 185px;
    }

    &--p3 {
      width: 392px;
      font-size: 14px;
      line-height: 24px;
    }
  }
}