nav {
  position: relative;
  height: 677px;
  background: $gradient;
  color: $white;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;

  .m-nav {
    display: flex;
    height: 138px;

    a:hover {
      text-decoration: underline;
    }

    &__logo {
      align-self: center;
      justify-self: flex-start;
      width: 57px;
      height: 61px;
      margin-left: 127px;

      img {
        width: auto;
        height: 100%;
      }
    }

    &__menu {
      justify-self: center;
      align-self: center;
      margin: auto;
      @include media-down(l) {
        font-size: .6em;
      }

      a {
        padding-left: 50px;
      }
    }

    &__search {
      align-self: center;
      justify-self: flex-end;
      padding-right: 150px;
      @include media-down(xl) {
        padding-right: 50px;
      }

      a {
        padding-left: 15px;
        @include media-down(l) {
          font-size: .5em;
          padding-left: 10px;
        }
      }
    }
  }
}

.menu,
.hamburger {
  display: none;
}

@media (max-width: 992px) {
  .m-nav {
    .closeIcon {
      display: none;
    }

    &__menu,
    &__search {
      display: none;
    }
  }

  .menu,
  .hamburger {
    display: block;
  }

  .menuItem {
    display: block;
    margin: 2rem 4rem;
    color: $white;
    font-size: 1.8rem;
    text-decoration: none;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  .hamburger {
    position: absolute;
    z-index: 100;
    top: 3rem;
    right: 2rem;
    padding: 4px;
    border-style: none;
    background: $gradient;
    color: $white;
    cursor: pointer;
  }

  .menu {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 4rem;
    background: $gradient;
    color: $white;
    font-weight: bold;
    list-style: none;
    transform: translateY(-100%);
    transition: transform .2s;
  }

  .showMenu {
    transform: translateY(0);
  }
}
