.m-panel {
  display: flex;
  width: 100vw;
  height: auto;
  margin-bottom: 100px;
  margin-top: 150px;
  @include media-down(l) {
    flex-direction: column;
  }

  &__left,
  &__right {
    display: flex;
    flex-wrap: wrap;
  }

  &__left {
    width: 35%;
    height: 540px;
    @include media-down(l) {
      flex-direction: column;
      width: 100%;
      height: 400px;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 38%;
    height: 540px;
    margin-left: -40px;
    @include media-down(l) {
      width: 100%;
      height: 300px;
      margin-left: 0;
    }

    &--special {
      display: flex;
      flex-direction: column;
    }
  }

  &__center {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 30%;
    height: 600px;
    margin-left: -40px;
    margin-top: -30px;
    background-color: $white;
    @include media-down(l) {
      width: 100%;
      height: 300px;
      margin: auto;
    }

    h3 {
      margin: auto;
      width: 340px;
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &1 {
      background-image: url('../../src/images/_images/1.jpg');
      width: 30%;
      height: 50%;
      @include media-down(l) {
        width: 60%;
        }
      }

    &2 {
      background-image: url('../../src/images/_images/2.jpg');
      width: 70%;
      height: 50%;
      @include media-down(l) {
        width: 60%;
        }
      }

    &3 {
      background-image: url('../../src/images/_images/3.jpg');
      width: 60%;
      height: 50%;
    }

    &4 {
      background-image: url('../../src/images/_images/4.jpg');
      width: 40%;
      height: 50%;
    }

    &5 {
      background-image: url('../../src/images/_images/5.jpg');
      width: 100%;
      height: 50%;
    }

    &6 {
      background-image: url('../../src/images/_images/6.jpg');
      width: 100%;
      height: 50%;
    }

    &7 {
      background-image: url('../../src/images/_images/7.jpg');
      width: 100%;
      height: 100%;
    }

    &8 {
      background-image: url('../../src/images/_images/8.jpg');
      width: 100%;
      height: 100%;
    }
  }
}