.m-posts {

  p {
    padding-top: 48px;
    color: $pink-1;
    font-weight: bold;
  }

  &__left {
    width: 519px;
    height: 565px;
    margin-right: -30px;
    padding-left: 60px;
    background-color: $white;
    border: 1px solid rgba(151, 151, 151, .11);
    box-shadow: 0 20px 45px 0 rgba(0, 0, 0, .04);

    @include media-down(l) {
      height: 330px;
      margin: auto;
    }

    .fas {
      margin-top: 100px;
      @include media-down(l) {
        margin-top: 0;
      }
    }

    &--img {
      width: 230px;
      margin-top: 70px;
      margin-bottom: 70px;
      background-image: url('../../src/images/_images/unsplash.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      @include media-down(l) {
        display: none;
      }
    }

    p {
      font-size: 18px;
    }

    h4 {
      width: 310px;
      padding-top: 100px;
      letter-spacing: 0;
      line-height: 52px;

      @include media-down(l) {
        padding-top: 20px;
      }
    }
  }

  &__right {
    margin: auto;
    padding-left: 20px;

    &-post {
      padding-left: 10px;
      @include media-down(l) {
        padding-left: 100px;
      }
      @include media-down(m) {
        padding-left: 10px;
      }

      h5 {
        width: 195px;
        letter-spacing: 0;
        line-height: 34px;
      }

      &:first-child {
        padding-right: 45px;
      }

      &:last-child {
        padding-left: 45px;
        border-left: 1px solid rgba(#979797, .2);

      }
    }
  }

  .fas {
    font-size: 25px;
    cursor: pointer;

    &:hover {
      padding-left: 10px;
    }
  }
}

