button {
  cursor: pointer;
  border-style: none;
}

.m-hero {
  button {
    margin-top: 36px;
    padding: 16px 73px 19px 63px;
    background-color: rgba($blue, .1);
    color: $blue;
    border-style: none;

    @include media-down(l) {
      margin-bottom: 100px;
    }
  }

  button:hover {
    background-color: rgba($blue, .8);
    color: $white;
  }
}

.m-gallery {

  button {
    position: relative;
    top: -70px;
    width: 85%;
    height: 96px;
    padding-top: 4px;
    border-style: none;
    background-color: $gray-8;
    color: $white;
    text-align: center;
    font-size: 22px;

    @include media-down(l) {
      width: 50%;
    }

    span {
      //margin-top: -9px;
      color: rgba($white, .5);
      font-size: 14px;
    }
  }

  button:hover {
    background-color: rgba($gray-8, .8);
    padding: 10px;
  }
}

.m-panel {

  button {
    display: flex;
    margin: auto;
    padding-top: 15px;
    padding-left: 35px;
    width: 285px;
    height: 55px;
    background-color: $blue;
    color: $white;
  }

  button:hover {
    background-color: $white;
    border: 2px $blue solid;
    color: $blue;
    transition: .2s;
    transition-delay: .1s;

  }

  i {
    padding-top: 5px;
    padding-left: 128px;
  }
}

.m-video-box {

  button {
    margin-top: 17px;
    background: none;
    color: $blue;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 34px;
    font-weight: bold;
    border-style: none;
  }

  button:hover {
    background-color: rgba($blue, .8);
    border-radius: 5px;
    color: $white;
  }
}

.m-footer {

  button {
    background: none;
    border-style: none;
    padding-left: 0;
    color: $white;
    font-weight: bold;
    width: 130px;

  }

    @include media-down(m) {
      margin-top: 5px;
      margin-left: -10px;
    }

  button:hover {
    opacity: 80%;
    color: $blue;
  }

  &__nav {
    button {
      width: 230px;
      height: 69px;
      margin-left: 15px;
      margin-top: 30px;
      padding-left: 20px;
      background: #181c1e;
      font-size: 14px;
      text-align: left;
    }

    button:first-child {
      margin-left: -15px;
    }
  }

  hr {
    float: right;
    width: 20px;
    border: 1px solid $blue;
  }
}