
$gray-1:    #f5f5f9 !default; //background
$white:     #fff !default;
$black:     #111 !default;//headings

$blue:      #476aff;
$pink-1:    #ff4757;
//$pink-2:      #ff5160; needed?
//$pink-3:      #ff4b5a;
$gray-2:    #d8d8d8;
$gray-3:    #fcfcfd;
$gray-4:    #979797;
$gray-5:    #474e56;
$gray-6:    #444;
$gray-7:    #2f3542; //base text
$gray-8:    #131b21; //buttons
$gray-9:    #181c1e;
$gradient:  linear-gradient(214.2deg, #273540 0%, #11181e 100%);


  // Set a specific jump point for requesting color jumps
//$color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
//$contrast-threshold: 150 !default