// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, monospace !default;
$font-open-sans: 		      'Open Sans', $font-family-sans-serif;
// stylelint-enable value-keyword-case

$link-color:                  $white;

$font-size-base:              14px;
$font-weight-base:            normal;

$font-size-small:             80% !default;

$color-text-base:             $gray-7;

$line-height-base:            1.6 !default;

$h1-font-size-mobile:         44px !default;
$h2-font-size-mobile:         25px !default;
$h3-font-size-mobile:         44px !default;
$h4-font-size-mobile:         25px !default;
$h5-font-size-mobile:         14px !default;
$h6-font-size-mobile:         44px !default;



$h1-font-size-tablet:         60px !default;
$h2-font-size-tablet:         36px !default;
$h3-font-size-tablet:         60px !default;
$h4-font-size-tablet:         36px !default;
$h5-font-size-tablet:         20px !default;
$h6-font-size-tablet:         60px !default;



$h1-font-size-desktop:        72px !default;
$h2-font-size-desktop:        42px !default;
$h3-font-size-desktop:        72px !default;
$h4-font-size-desktop:        42px !default;
$h5-font-size-desktop:        24px !default;
$h6-font-size-desktop:        72px !default;





$headings-margin-bottom:      0 !default;
$headings-margin-top:         0 !default;
$headings-font-family:        inherit !default;
$headings-line-height:        1.2 !default;
$headings-color:              $black !default;

// Printing
$print-page-size:             a3 !default;
$print-body-min-width:        map-get($grid-breakpoints, 'lg') !default;

// Paragraphs
$paragraph-margin-bottom:     12px !default;
